:host {
    .wrapper {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .input-width {
        min-width: 250px;
    }
    .actions {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .actions-txt {
        margin-top: 10px;
        text-align: center;
    }
}