:host {
  .wrapper {
    width: 90%;
    margin: 50px auto 0;
    .action-toolbar {
      display: flex;
      justify-content: space-between;
    }
    .center {
      display: flex;
      justify-content: center;
    }
  }
}