:host {
  .wrapper {
    width: 90%;
    margin: 50px auto 0;
    .action-toolbar {
      display: flex;
      justify-content: space-between;
    }
    @media only screen and (max-width: 600px) {
      .action-toolbar {
        display: block;
      }
    }
    .center {
      display: flex;
      justify-content: center;
    }
  }
}